<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GG Library</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
            function goBack() { window.history.back();}
            </script>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1 style="color:blue; font-family:'Arial'; font-size:35px; background-color: powderblue;
            padding: 25px;
            background-size: auto;">Update Book : <%= Library.name %> </h1>
            <p style="color:blue; font-family:'Arial'; font-size:5px; 
            padding: 25px;
            "></p>Creator: <%= Library.creator %></p><br>
        </div>
        <div class="container-fluid text-left">
            <form action="/update" method="POST" enctype="multipart/form-data">
                <!--the enctype attribute is required for a file upload control form-->
                <!--the attribute is not encoding characters-->
                <label for="name" style="color:red; font-family:'Courier New';">Name*:</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Name" style="width: 30%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;"><br>
                
                <label for="Isbn" style="color:red; font-family:'Courier New';">ISBN:</label>
                <input type="text" id="Isbn" name="Isbn" class="form-control" placeholder="ISBN" style="width: 30%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;"><br>

                <label for="quantity" style="color:red; font-family:'Courier New';">Quantity:</label>
                <input type="text" id="quantity" name="quantity" class="form-control" placeholder="quantity" style="width: 30%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;"><br>
                
                <label for="Author" style="color:red; font-family:'Courier New';">Author:</label>
                <input type="text" id="Author" name="Author" class="form-control" placeholder="Author" style="width: 30%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;"><br>

                <label for="Publisher" style="color:red; font-family:'Courier New';">Publisher:</label>
                <input type="text" id="Publisher" name="Publisher" class="form-control" placeholder="Publisher" style="width: 30%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;"><br>
                
                <label for="Brief_Synopsis" style="color:red; font-family:'Courier New';">Brief Synopsis:</label>
                <input type="text" id="Brief_Synopsis" name="Brief_Synopsis" class="form-control" placeholder="Brief Synopsis" style="width: 30%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;"><br>
                
                <input type="hidden" name="_id" value=<%= Library._id %>>
                <input type="hidden" name="creator" value=<%= Library.creator %>>

                <input type="submit" value="update" style="display: inline-block;
                background-color: #7b38d8;
                border-radius: 10px;
                border: 4px double #000000;
                color: #eeeeee;
                text-align: center;
                font-size: 28px;
                padding: 20px;
                width: 200px;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;">
            </form>
        </div>
    </body>
    <script>
        $(".custom-file-input").on("change", function() {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
</html>
